<h2> this is individual studies </h2>
<p><%= @study.cancer_subtype.name %></p>
<p><%= @study.title %></p>
<p><%= @study.summary %></p>
<p><%= @study.status.name %></p>
<p><%= @study.duration.length %></p>
<p><%= @study.size.number %></p>
<p><%= @study.state.name %></p>

