<div class="off-canvas-wrap menu-icon" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span>Menu</span></a>
          </section>

        <a class="left-off-canvas-toggle" href="#" ></a>
        </nav>
        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <!-- whatever you want goes here -->
          <ul class="off-canvas-list">
            <% unless user_signed_in? %>
          <%= render 'shared/join_nav' %>
          <% end %>
            <%= render 'shared/about_nav' %>
          </ul>
          <% if user_signed_in? %>
            <%= render 'shared/user_nav_options' %>
          <% end %>
          <%= render 'shared/public_nav_options' %>
        </aside>

        <%= render 'shared/errors' %>

        <%= yield %>
        <%= javascript_include_tag "application" %>

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

      </div>
    </div>
