<div class="row">
  <div class='small-12 columns'>
    <div class='border'>
      <%= simple_form_for @study do |f| %>
      <%= f.association :cancer_subtype, label_method: :name %>
      <%= f.input :title %>
      <%= f.association :status, label_method: :name%>
      <%= f.association :size, label_method: :number %>
      <%= f.association :duration, label_method: :length %>
      <%= f.input :summary %>
      <%= f.button :submit, 'Submit' %>
    <% end %>
    </div>
  </div>
</div>
