<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body data-no-turbolink class="<%= body_class %>">
    <div class="off-canvas-wrap menu-icon" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>

        <a class="left-off-canvas-toggle" href="#" ></a>
        </nav>
        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <!-- whatever you want goes here -->
          <ul class="off-canvas-list">
            <% unless user_signed_in? %>
          <ul class="off-canvas-list">
            <li><label>Join the Solution</label></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to "Register for Free", new_user_registration_path %></li>
          </ul>
          <% end %>
            <li><label>Navigation</label></li>
            <li><%= link_to "Home", '/home' %></li>
            <li><%= link_to 'About Us', '/about' %></li>
          </ul>
          <% if user_signed_in? %>
          <ul class="off-canvas-list">
            <li><label>Users</label></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to 'something', '/about' %></li>
          </ul>
          <% end %>
          <ul class="off-canvas-list">
            <li><label>Cancer Studies</label></li>
            <li><%= link_to "View Studies", public_studies_path %></li>
            <li><%= link_to 'Post a new Study', new_user_study_path %></li>
          </ul>
        </aside>

        <!-- main content goes here -->
        <%# Rails flash messages styled for Zurb Foundation %>
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <div data-alert class="alert-box <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
              <%= content_tag :div, msg %>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
        <% end %>

        <%= yield %>
        <%= javascript_include_tag "application" %>

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

      </div>
    </div>

  </body>
</html>
